.container {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    float: left;
}


.error {
    color: red;
  }

  .form {
    padding: 90px;
    padding-top: 0;
    padding-bottom: 5px;

  }

  .frm {
    width: 50%;
    margin: 80px auto;
    background-color: #14da79;
    color: white;
    padding-right: 17px;

  }

  .frm h2 {
    text-align: center;

    margin: 20px;
  }

  .frm input[type="text"],
  .frm input[type="email"],
  .frm input[type="password"] {
    width: 100%;
    padding: 9px;
    border-radius: 9px;
    border: 1px solid;
  }

  input[type="submit"] {
    padding: 8px 145px 8px 145px;
    font-size: 15px;
  }

  .btn {
    text-align: center;
  }

  .btn a:hover {
    background-color: red;
  }

  a{
    text-decoration: none;
  }
  .f{
    padding: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .lh a{
    color: red;
  }
  .frmblock
  {
    padding-top: 150px;
    float: left;
    width: 100%;
  }