.container {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    float: left;
}


.error {
    color: red;
    padding-left: 38px;
  }

  .form {
    padding: 90px;
    padding-top: 0;
    padding-bottom: 5px;

  }

  .frm {
    width: 32%;
    margin: 80px auto;
    color: white;
    padding-right: 17px;

  }

  .frm h2 {
    text-align: center;
    border-bottom: 2px solid;
    margin-bottom: 47px;
    padding-bottom: 5px;
}
  

  .frm input[type="text"],
  .frm input[type="email"],
  .frm input[type="password"] {
    width: 75%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    float: left;
    margin-bottom: 10px;
    margin-top: 12px;
  }

  input[type="submit"] {
    padding: 12px 70px 12px 70px;
    font-size: 15px;
    border: none;
    color: white;
    background: none;
    border-radius: 30px;
    border: 3px solid;
    margin-bottom: 10px;
  }

  .btn {
    text-align: center;
    padding-left: 25px;
  }

  .btn a:hover {
    /* background-color: blueviolet; */
  }

  a{
    text-decoration: none;
    color: white;
  }
  .f{
    padding: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .lh a{
    color: red;
  }
  .frmblock
  {
    padding-top: 150px;
    float: left;
    width: 100%;
  }