table,td {
           
            border-collapse: collapse;
            text-align: center;
            /* padding: 5px; */
            padding-top: 20px;
            padding-bottom: 20px;
            /* border-bottom: 1px solid #28282D; */
            
        }
       
        th{
            /* background-color: #FCD524; */
            background-color: #f3701d;
            color: white;
            /* box-shadow: 0px 5px 14px 0px #28282C; */
            padding: 12px;
        }

        table {
            width: 100%;
            
        }
         .teacher_table{
            width: 100%;
            float: left;
         }
        .update{
            background-color: white;
            color: blue;
        }
        .delete{
            background-color: white;
            color: red;
            

        }
        table button{
            border: 1px solid burlywood;
            padding: 8px 15px 8px 15px;
            border-radius: 10px;
        }
        table .d a :hover{
            background-color: red;
            color: white;
        }
        table .u a :hover{
            background-color: blue;
            color: white;
        }

        